[Unit]
Description={{appDescription}}

[Install]
WantedBy=multi-user.target

[Service]
User=app
Environment=PORT={{appPort}}
{{appEnvVars}}
Restart=on-failure
ExecStart=__APP_COMMAND__
