body
  font-family: "concourse-t3", sans-serif

code
  font-family: "pragmatapro", monospace


nav.menu-bar h1.logotype a
  @include no-text
  @include smart-image-glow($accent-color)


header.hero nav.menu-bar h1.logotype a
  @include smart-opacity(0.6, 1)
  @include smart-image-glow(white)

#hero div.hero-sash
  background: none
  background-image: radial-gradient(circle farthest-corner at left top, rgba($orange, 0.0) 0%, rgba($blue, 0.6) 50%, rgba($blue, 0.0) 100%)

#hero h1.logotype
  @include no-text


#mietek a
  @include text-button
  @include no-text
  @include smart-box-glow($accent-color)
  display: block
  float: left
  margin-right: ln(1)
  margin-bottom: ln(1)
  border: 1px $object-color solid
  border-radius: 50%
  background-position: center center
  background-color: transparent
  background-blend-mode: screen
  transition: ease(border-color, 1, 0), ease(background-color, 1, 0), ease(box-shadow, 1, 0)
  @include frob-when-frobbed
    border-color: $accent-color
    background-color: $accent-color

.hairline #mietek a
  border-width: 0.5px


#log1.open
  height: ln(21)
  &:before
    height: ln(20)

#log2.open
  height: ln(16)
  &:before
    height: ln(15)

#log3.open
  height: ln(16)
  &:before
    height: ln(15)
