body
  font-family: "concourse-t3", sans-serif

code
  font-family: "pragmatapro", monospace

.small-caps
  font-family: "concourse-c3", sans-serif
  font-variant: normal
  letter-spacing: -1px


nav.menu-bar h1.logotype a
  @include no-text
  @include smart-image-glow($accent-color)


header.hero nav.menu-bar h1.logotype a
  @include smart-opacity(0.6, 1)
  @include smart-image-glow(white)

#hero div.hero-sash
  background: none
  background-image: radial-gradient(circle farthest-corner at left top, rgba($orange, 0.0) 0%, rgba($blue, 0.6) 50%, rgba($blue, 0.0) 100%)

#hero h1.logotype
  @include no-text

#halcyon h1 a
  @include text-button
  @include no-text
  display: block


a.heroku-button
  @include pill-button
  color: $violet
  border-color: rgba($violet, 0.8)
  @include frob-when-frobbed
    background-color: $violet


$gallery-size: 8

div.gallery-background
  background-color: #fcfbfa
  left: 0
  right: 0
  width: 100%
  margin-left: 0
  margin-right: 0
  margin-top: ln(3/2)
  margin-bottom: ln(3/2)

div.gallery-frame
  overflow-x: scroll
  overflow-y: hidden
  -webkit-overflow-scrolling: touch

div.gallery-contents
  background-color: $white
  display: flex

div.gallery-frame a.gallery-item
  width: (1/$gallery-size) * 100%


a.gallery-item
  @include text-button
  @include no-text
  @include smart-opacity-after(0, 1)
  display: block
  border-top: 1px rgba($object-color, 0.2) solid
  border-right: 1px rgba($object-color, 0.2) solid
  border-bottom: 1px rgba($object-color, 0.2) solid
  background-size: cover
  flex: 1
  transition: ease(opacity, 1, 0)
  position: relative
  &:last-of-type
    border-right: none

.hairline a.gallery-item
  border-width: 0.5px

a.gallery-item:after
  content: ""
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  transition: ease(opacity, 1, 0)


#log1
  @include loc(15)

#log2
  @include loc(18)


#item-circuithub
  @include image("example-circuithub-gray", "jpg")
  &:after
    @include image("example-circuithub-color", "jpg")
#circuithub-log
  @include loc(9) // TODO

#item-howistart
  @include image("example-howistart-gray", "jpg")
  &:after
    @include image("example-howistart-color", "jpg")
#howistart-log
  @include loc(9) // TODO

#item-hl
  @include image("example-hl-gray", "jpg")
  &:after
    @include image("example-hl-color", "jpg")
#hl-log
  @include loc(9) // TODO

#item-tryhaskell
  @include image("example-tryhaskell-gray", "jpg")
  &:after
    @include image("example-tryhaskell-color", "jpg")
#tryhaskell-log
  @include loc(9) // TODO

#item-tryidris
  @include image("example-tryidris-gray", "jpg")
  &:after
    @include image("example-tryidris-color", "jpg")
#tryidris-log
  @include loc(9) // TODO

#item-trypurescript
  @include image("example-trypurescript-gray", "jpg")
  &:after
    @include image("example-trypurescript-color", "jpg")
#trypurescript-log
  @include loc(9) // TODO

#item-tryhaste
  @include image("example-tryhaste-gray", "jpg")
  &:after
    @include image("example-tryhaste-color", "jpg")
#tryhaste-log
  @include loc(9) // TODO

#item-gitit
  @include image("example-gitit-gray", "jpg")
  &:after
    @include image("example-gitit-color", "jpg")
#gitit-log
  @include loc(9) // TODO


#hello-apiary-source
  @include loc(8)
#hello-apiary-log
  @include loc(66)

#hello-happstack-source
  @include loc(10)
#hello-happstack-log
  @include loc(52)

#hello-mflow-source
  @include loc(6)
#hello-mflow-log
  @include loc(66)

#hello-miku-source
  @include loc(10)
#hello-miku-log
  @include loc(52)

#hello-scotty-source
  @include loc(9)
#hello-scotty-log
  @include loc(52)

#hello-simple-source
  @include loc(9)
#hello-simple-log
  @include loc(52)

#hello-snap-source
  @include loc(14)
#hello-snap-log
  @include loc(52)

#hello-spock-source
  @include loc(9)
#hello-spock-log
  @include loc(52)

#hello-wai-source
  @include loc(17)
#hello-wai-log
  @include loc(52)

#hello-wheb-source
  @include loc(12)
#hello-wheb-log
  @include loc(52)

#hello-yesod-source
  @include loc(21)
#hello-yesod-log
  @include loc(58)


div.chart
  left: 0
  right: 0
  width: 100%
  margin-left: 0
  margin-right: 0
  margin-top: ln(1)
  margin-bottom: ln(1)

#shootout-chart
  height: ln(22)


#shootout-source
  @include loc(66)


#hello-world-shootout > h1:first-of-type, #hello-world-shootout > h2:first-of-type, #hello-world-shootout > h3:first-of-type
  text-indent: -1ex


@mixin input-field
  background-color: $white
  border: 1px rgba($gray6, 0.8) solid
  border-radius: 0
  font-size: em(3/4)
  height: ln(3/2)
  line-height: ln(3/4)
  font-family: "concourse-t3"
  color: $gray6
  padding-left: ln(1/4)
  padding-right: ln(1/4)
  padding-top: ln(1/4)
  padding-bottom: ln(1/4)
  margin-bottom: ln(1/4)
  width: 100%
  display: inline-block
  text-overflow: ellipsis
  transition: ease(border-color, 1, 0), ease(color, 1, 0)
  -webkit-appearance: none
  &:focus
    border-color: $accent-color
  .hairline &
    border-width: 0.5px
  &[disabled]
    color: $gray6
    border-color: rgba($gray6, 0.4)
    -webkit-text-fill-color: $gray6 // Work around Safari bug.
    -webkit-opacity: 1 // Work around Mobile Safari bug.


input::-webkit-input-placeholder
  font-style: italic
  color: rgba($gray6, 0.4)

input:-moz-placeholder
  font-style: italic
  color: rgba($gray6, 0.4)

input::-moz-placeholder
  font-style: italic
  color: rgba($gray6, 0.4)

input:-ms-input-placeholder
  font-style: italic
  color: rgba($gray6, 0.4)


@mixin input-code-field
  @include input-field
  font-family: "pragmatapro"
  font-size: em((12/14) * (3/4))

@mixin static-code-field
  @include static-field
  font-family: "pragmatapro"
  font-size: em((12/14) * (3/4))


@mixin flex
  display: flex
  flex-flow: row wrap

@mixin full
  margin-left: 0
  margin-right: 0


div.flex-item
  @include flex

div.flex
  @include flex
  margin-top: ln(1/2)
  margin-bottom: ln(1/2)

div.justify-end
  justify-content: flex-end

div.full
  @include full


.source-info
  flex: 1 1

.source-info p:first-of-type
  margin-top: 0

.source-info p:last-of-type
  margin-bottom: 0


.meta
  font-style: italic

.meta-button
  @include radio-button
  font-style: italic
  margin-bottom: ln(1/4)
  width: ln(6.25)


.widget
  margin-right: ln(1/2)


.loading
  color: $subject-color
  font-style: italic

.loading p
  margin-top: 0
  margin-bottom: 0


.error
  color: $orange
  font-style: italic

.error a
  @include frob-always
    color: $orange

.error code
  color: $orange
  font-size: em((12/14) * (3/4))
  line-height: ln(3/4)

.error p
  margin-top: 0
  margin-bottom: 0


.account-field
  @include static-field
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  flex: 1 0

.account-button
  @include pill-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(4)

.map-button
  @include pill-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(4)


.input-field
  @include input-code-field
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  flex: 1 0


.source-logo
  width: ln(3)
  height: ln(3)
  margin-right: ln(1)


.size-button
  @include radio-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(4)

.image-button
  @include radio-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(8.5)

.region-button
  @include radio-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(6.25)

.key-button
  @include radio-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(6.25)


.action-button
  @include pill-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(13)


.droplet-button
  @include radio-button
  margin-right: ln(1/2)
  margin-bottom: ln(1/4)
  width: ln(13)
  font-family: "pragmatapro"
  font-size: em((12/14) * (3/4))


#monitor-legend
  height: ln(21.625)
