nav.menu-bar h1.logotype a
  width: 100px
  background-size: 100px auto

header nav.menu-bar h1.logotype a
  @include smart-logotype(color, $accent-color-name, large)

footer nav.menu-bar h1.logotype a
  @include smart-logotype($subject-color-name, $accent-color-name, large)


header.hero nav.menu-bar h1.logotype a
  @include smart-logotype(white, white, large)

#hero h1.logotype
  @include image("logotype-white-hero-large", "png")
  width: 200px
  background-size: 200px auto

#halcyon h1 a
  @include image("logotype-blue-hero-large", "png")
  width: 200px
  background-size: 200px auto


.face.mietek
  @include image("mietek-large", "png")
  background-size: 128px 128px
  width: 128px
  height: 128px

.micro.face
  background-size: 64px 64px
  width: 64px
  height: 64px


.micro.face.alberto-g-corona
  @include image("alberto-g-corona-large", "jpg")

.micro.face.anton-ekblad
  @include image("anton-ekblad-large", "jpg")

.micro.face.brian-mckenna
  @include image("brian-mckenna-large", "jpg")

.micro.face.joe-nelson
  @include image("joe-nelson-large", "jpg")

.micro.face.kiwamu-okabe
  @include image("kiwamu-okabe-large", "jpg")

.micro.face.phil-freeman
  @include image("phil-freeman-large", "jpg")

.micro.face.rehno-lindeque
  @include image("rehno-lindeque-large", "jpg")

.micro.face.tristan-sloughter
  @include image("tristan-sloughter-large", "jpg")


div.gallery-contents
  height: ln(14)

a.gallery-item
  height: ln(14)
