nav.menu-bar h1.logotype a
  background-size: 75px auto


header nav.menu-bar h1.logotype a
  @include smart-logotype(color, blue, small)

footer nav.menu-bar h1.logotype a
  @include smart-logotype(gray9, blue, small)


header.hero nav.menu-bar h1.logotype a
  @include smart-logotype(white, white, small)

#hero h1.logotype
  @include image("logotype-white-hero-small", "png")
  width: 150px
  background-size: 150px auto
