nav.menu-bar h1.logotype a
  background-size: 75px auto

header nav.menu-bar h1.logotype a
  @include smart-logotype(color, $accent-color-name, small)

footer nav.menu-bar h1.logotype a
  @include smart-logotype($subject-color-name, $accent-color-name, small)


header.hero nav.menu-bar h1.logotype a
  @include smart-logotype(white, white, small)

#hero h1.logotype
  @include image("logotype-white-hero-small", "png")
  width: 150px
  background-size: 150px auto

#halcyon h1 a
  @include image("logotype-blue-hero-small", "png")
  width: 150px
  background-size: 150px auto


.face.mietek
  @include image("mietek-small", "png")
  background-size: 96px 96px
  width: 96px
  height: 96px

.micro.face
  background-size: 48px 48px
  width: 48px
  height: 48px


.micro.face.alberto-g-corona
  @include image("alberto-g-corona-small", "jpg")

.micro.face.anton-ekblad
  @include image("anton-ekblad-small", "jpg")

.micro.face.brian-mckenna
  @include image("brian-mckenna-small", "jpg")

.micro.face.joe-nelson
  @include image("joe-nelson-small", "jpg")

.micro.face.kiwamu-okabe
  @include image("kiwamu-okabe-small", "jpg")

.micro.face.phil-freeman
  @include image("phil-freeman-small", "jpg")

.micro.face.rehno-lindeque
  @include image("rehno-lindeque-small", "jpg")

.micro.face.tristan-sloughter
  @include image("tristan-sloughter-small", "jpg")
