nav.menu-bar h1.logotype a
  background-size: 75px auto

header nav.menu-bar h1.logotype a
  @include smart-logotype(color, $accent-color-name, small)

footer nav.menu-bar h1.logotype a
  @include smart-logotype($subject-color-name, $accent-color-name, small)


header.hero nav.menu-bar h1.logotype a
  @include smart-logotype(white, white, small)

#hero h1.logotype
  @include image("logotype-white-hero-small", "png")
  width: 150px
  background-size: 150px auto

#halcyon h1
  @include no-text
  @include image("logotype-hero-large", "png")
  width: 150px
  background-size: 150px auto


#mietek a
  @include image("mietek-small", "png")
  background-size: 96px 96px
  width: 96px
  height: 96px
