@import "cannot/reset"
@import "cannot/color"
@import "cannot/private-fonts"


$hero-background-color: $gray0
$hero-background-color-name: gray0
$accent-color: $blue
$accent-color-name: blue

@include font-face(concourse-c3, regular)
@include font-face(concourse-t3, regular)
@include font-face(concourse-t3, italic)
@include font-face(concourse-t3, bold)
@include font-face(concourse-t3, bold-italic)
@include font-face(concourse-t3-tab, regular)
@include font-face(concourse-t3-tab, italic)
@include font-face(pragmatapro, regular)
@include font-face(pragmatapro, bold)
@include font-face(pragmatapro, italic)
@include font-face(pragmatapro, bold-italic)


@import "cannot/layout"


$hero-width-small: 720px
$hero-width-medium: 1440px
$hero-width-large: 2880px

@media (max-width: $hero-width-small)
  #hero
    @include background-image-hires(image-url(hero-medium, 1x, jpg))
    background-image: image-url(hero-small, 1x, jpg)

@media (min-width: $hero-width-small + 1) and (max-width: $hero-width-medium)
  #hero
    @include background-image-hires(image-url(hero-large, 1x, jpg))
    background-image: image-url(hero-medium, 1x, jpg)

@media (min-width: $hero-width-medium + 1)
  #hero
    background-image: image-url(hero-large, 1x, jpg)
